@media(max-width: 1200px) {
    .container {
    width: 80%;
    }
    .about__title {
        font-size: 30px;
    }
    .nav__list {
        justify-content: space-between;
    }
}

@media(max-width: 991px) {
    .container {
        width: 75%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .slideshow__header {
        height: 400px;
    }
    .slideshow__item{
        height: 400px;
    }
    .about__title {
        font-size: 25px;
    }
    
    .price__subtitle {
        font-size: 20px;
    }
    .price__title {
        font-size: 14px;
    }
    .logo__nav {
        font-size: 25px;
    }
    .nav__link {
        font-size: 16px;
    }
    .inst__logo {
        width: 30px;
    }
    .header__subtitle {
        font-size: 40px;
    }
    .transparent-button {
        width: 350px;
    }
}

@media(max-width:771px) {
    .container {
        width: 85%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav__list {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    .nav__item {
        margin: 0;
        padding: 0;
    }

    .about__title {
        font-size: 20px;
    } 

    .price__block {
        flex-direction: column; 
        align-items: center; 
    }

    .price__txt {
        margin: 20px 0;
        text-align: center;
    }

    .price__subtitle {
        font-size: 27px;
    }

    .price__title {
        font-size: 20px;
    }

    .price__gallery__item {
        flex: 1 1 100%; 
        margin: 10px 0; 
    }

    .price__gallery__list {
        flex-direction: column; 
        align-items: center; 
    }
    .gallery__item {
        flex: 1 1 55%; 
    }
    .img__project {
        height: 450px;
    }
    .nav__list {
        justify-content: space-between;
    }
    .nav__link {
        font-size: 16px;
    }
    .inst__logo {
        width: 25px;
    }
    .header__subtitle {
        font-size: 30px;
    }
    .transparent-button {
        width: 320px;
    }

}

.mobile-nav-button {
    display: none; /* Скрыть кнопку по умолчанию */
}

@media(max-width: 500px) {
    .nav__block {
        flex-direction: column; 
        align-items: center; 
    }

    .nav__item {
        display: block; 
        margin: 5px 0; 
    }

    .nav__link {
        font-size: 16px; 
        margin-top: 0;
    }
    .studio__block {
        flex-wrap: wrap;
    }

    .contact__block {
        text-align: center;
        padding-top: 20px;
    }

    .instagram__logo {
        width: 20px; 
    }

    .kiss__logo {
        width: 100px;
    }

    .nav__subtitile {
        font-size: 36px;
        line-height: 44px; 
    }

    .instagram__title {
        font-size: 14px; 
    }

    .about__title {
        font-size: 25px;
    } 
    .slideshow__header {
        height: 300px;
    }
    .slideshow__item{
        height: 300px;
    }
    
    .price__subtitle {
        font-size: 22px;
    }
    .price__title {
        font-size: 18px;
    }
    .text-left {
        font-size: 15px;
    }
    .text-right {
        font-size: 15px;
    }
    .text__right__price {
        font-size: 15px;
    }
    .img__project {
        height: 300px;
    }
    .studio__subtitle {
        font-size: 35px;
    }
    .subtitle__price__block {
        font-size: 35px;
    }
    .contact__subtitle {
        font-size: 35px;
    }
    .contact__title {
        font-size: 18px;
    }
    .form-group {
        display: flex;
        flex-direction: column; 
        width: 95%; 
    }
    button {
        width: 90%;
        margin-left: 20px;
    }
    .gallery__item {
        flex: 1 1 100%; 
    }
    .kiss__subtitile {
        font-size: 15px;
    }
    .white__txt {
        font-size: 12px;
    }
    .gray__txt {
        font-size: 15px;
    }
    .subtitle__price__block {
        font-size: 35px;
    }
    .form__subtitle {
        font-size: 35px;
    }
    .gallery__subtitle {
        font-size: 35px;
    }
    .about__subtitle {
        font-size: 35px;
    }
    .nav__list {
        justify-content: space-between;
    }
    .nav__link {
        font-size: 16px;
    }
    .inst__logo {
        width: 25px;
    }
    .header__subtitle {
        font-size: 26px;
    }
    .transparent-button {
        width: 250px;
    }
    .nav__link {
        display: none; /* Скрыть весь список навигации */
    }
    
    .mobile-nav-button {
        display: block; 
        position: absolute; 
        top: 20px; 
        right: 20px; 
        width: 40px; 
        height: 40px; 
        color: #fff; 
        border: none; 
        padding: 0; 
        font-size: 24px; 
        cursor: pointer;
        z-index: 1000;
        transition: transform 0.3s; 
        background: none; 
        margin-top: 40px;
    }
    
    .mobile-nav-button:hover {
        background: none;
        transform: scale(1.1); 
    }

    .close-btn {
        display: block; 
        position: absolute; 
        top: 20px; 
        right: 20px; 
        width: 40px;
        height: 40px;
        color: #fff;
        border: none;
        padding: 0;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
        transition: transform 0.3s;
        background: none;
    }

    .close-btn:hover {
        background: none;
        transform: scale(1.1);
    }

    
    .sidebar {
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease; 
        z-index: 1000;

    }
    .nav__link {
        color: white; 
        text-decoration: none; 
    }
    
    .nav__link:hover {
        text-decoration: underline; 
    }
    
    .sidebar {
        color: white;
    }

    .siderbar__item {
        font-size: 25px;
        font-family: Inter;
        margin: 20px;
        margin-top: 35px;
        margin-bottom: 10px;
        font-weight: 300;
    }
    .sidebar__list {
        margin-top: 100px;
    }

    .sidebar__list2 {
        margin-top: 450px;
    }
    .siderbar__item2 {
        font-size: 15px;
        font-family: Inter;
        margin: 20px;
        font-weight: 200;
    }

    .sidebar__link2 {
        padding-top: 100px;
    }

    
    .sidebar ul li a {
        color: white; 
        text-decoration: none; /
        
    }
    
    .sidebar ul li a:hover {
        text-decoration: underline; 
    }

    .header__subtitle {
        font-size: 35px;
    }
}


@media (max-width: 411px) {
    .background-container {
        position:relative; 
        background-image: url(../image/header/1.png); 
        background-size: cover; 
        width: 100%;
        height: 100vh;
        overflow: hidden; 
    }

    .header__subtitle {
        font-size: 30px;
    }

    .nav__link {
        display: none; 
    }
    
    .mobile-nav-button {
        display: block; 
        position: absolute; 
        top: 20px; 
        right: 20px;
        width: 40px; 
        height: 40px; 
        color: #fff; 
        border: none; 
        padding: 0; 
        font-size: 24px; 
        cursor: pointer;
        z-index: 1000;
        transition: transform 0.3s; 
        background: none; 
        margin-top: 40px;
    }
    
    .mobile-nav-button:hover {
        background: none;
        transform: scale(1.1); 
    }

    .close-btn {
        display: block; 
        position: absolute; 
        top: 20px; 
        right: 20px; 
        width: 40px;
        height: 40px;
        color: #fff;
        border: none;
        padding: 0;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
        transition: transform 0.3s;
        background: none;
    }

    .close-btn:hover {
        background: none;
        transform: scale(1.1);
    }

    
    .sidebar {
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease; 
        z-index: 1000;

    }
    .nav__link {
        color: white; 
        text-decoration: none; 
    }
    
    .nav__link:hover {
        text-decoration: underline; 
    }
    
    .sidebar {
        color: white;
    }

    .siderbar__item {
        font-size: 25px;
        font-family: Inter;
        margin: 20px;
        margin-top: 35px;
        margin-bottom: 10px;
        font-weight: 300;
    }
    .sidebar__list {
        margin-top: 100px;
    }

    .sidebar__list2 {
        margin-top: 250px;
    }
    .siderbar__item2 {
        font-size: 15px;
        font-family: Inter;
        margin: 20px;
        font-weight: 200;
    }

    .sidebar__link2 {
        padding-top: 100px;
    }

    
    .sidebar ul li a {
        color: white; 
        text-decoration: none; /
        
    }
    
    .sidebar ul li a:hover {
        text-decoration: underline; 
    }

    .about__title {
        font-size: 23px;
    }
}




@media (min-width: 500px) {
    .sidebar {
        display: none; /* Скрыть сайдбар на экранах шире 411px */
    }
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Скрываем сайдбар за пределами экрана */
    width: 250px;
    height: 100%;
    background-color: #333; /* Цвет фона сайдбара */
    color: white;
    transition: right 0.3s ease; /* Плавный переход */
    z-index: 1000;
}